---
layout: default
title: Kihong Heo &middot; Home
logo_style: 'width: 280px; height: 70px;'
---

<h1>Kihong Heo (허기홍)</h1>
<table>
  <tr>
    <td width=25%><a href="pics.html"><img src="pics/2018.jpg" width="120" /></a></td>
    <td width=75%>
      Associate Professor<br>
      <a href="https://prosys.kaist.ac.kr">Programming Systems Laboratory</a><br>
      <a href="https://cs.kaist.ac.kr">School of Computing</a> / <a href="https://gsis.kaist.ac.kr">Graduate School of Information Security</a><br>
      <a href="https://www.kaist.ac.kr">KAIST</a><br>
      <div class="middle">
        <a href="docs/cv.pdf"><img src="icons/cv.png" width="25" /></a>&nbsp;
        <a href="https://dblp.uni-trier.de/pers/hd/h/Heo:Kihong"><img src="icons/dblp.png" width="25" /></a>&nbsp;
        <a href="https://scholar.google.co.kr/citations?hl=ko&view_op=list_works&gmla=AJsN-F7M5Wr90VD58_PZujJyLJ_36LmrOIrqC5gQFSRtTOL-AjAXHlIHe1MK6RGMmHe2pgBgT7oL6VdqcQgo5LvNOCRlOs5TitZuGNZtBrT_o0DVN_ACGZjuKudtpaDvuYtS98mrOMNP&user=bWY6MmgAAAAJ"><img src="icons/scholar.jpg" width="25" /></a>&nbsp;
        <a href="https://github.com/KihongHeo"><img src="icons/github.png" width="25" /></a>
        <a href="https://www.youtube.com/channel/UCAZucNgybys07CrWvcGsDdQ/"><img src="icons/youtube.png" width="25" /></a><br>
      </div>
    </td>
  </tr>
</table>
<div style="max-width:80%">
  <h3>Notice</h3>
  I am looking for highly motivated graduate/undergraduate students who are interested in program analysis, program synthesis/transformation, and machine learning techniques for next-generation programming systems. For more detailed information,
  see <a href="https://prosys.kaist.ac.kr/research/">projects</a>, <a href="publications.html">publications</a>, <a href="talks.html">talks</a>, <a href="recruitment.html">recruitment</a>, <a href="https://youtu.be/Nm0LlEeCux4">Youtube Video</a> (in Korean), or send me an <a href="mailto: kihong.heo@gmail.com">email</a>.
</div>
<div id="vita"></div>
<h3>Vita</h3>
<table>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">Present</td>
    <td>Associate Professor, KAIST</td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">2020 - 2024</td>
    <td>Assistant Professor, KAIST</td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">2017 - 2019</td>
    <td>Post-doctoral Researcher, University of Pennsylvania</td>
  </tr>
<!--  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">2017</td>
    <td>Research Scientist, Facebook</td>
  </tr>
-->
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">2009 - 2017</td>
    <td>Ph.D., Computer Science & Engineering, Seoul National University</td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">2005 - 2009</td>
    <td>B.S., Computer Science & Engineering, Seoul National University</td>
  </tr>
</table>
<!--
<h3>News</h3>
<table>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">Nov 2019</td>
    <td style="padding-right: 0.5em">&#128240;</td>
    <td>I will be joining <a href="https://cs.kaist.ac.kr">School of Computing</a> / <a href="https://gsis.kaist.ac.kr">Graduate School of Information Security</a> at KAIST as an assistant professor in Jan 2020.
    </td>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">Jun 2019</td>
    <td>&#127942;</td>
    <td>Our paper <i><a href="paper/pldi19.pdf">Continuously Reasoning about Programs via Differential Bayesian Inference</a></i> won a Distinguished Paper Award at <a href="https://conf.researchr.org/home/pldi-2019">PLDI 2019</a>.</li></td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">May 2019</td>
    <td>&#127942;</td>
    <td>Our paper <i><a href="paper/icse19.pdf">Resource-aware Program Analysis via Online Abstraction Coarsening</a></i> won a Distinguised Paper Award at <a href="https://2019.icse-conferences.org">ICSE 2019</a>.</td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">May 2019</td>
    <td>&#128196;</td>
    <td>Our paper <i><a href="paper/ijcai19.pdf">Synthesizing Datalog Programs using Numerical Relaxation</a></i> will appear at <a href="http://ijcai19.org">IJCAI 2019</a>.</td>
  </tr>
  <tr>
    <td align="right" style="padding-right: 1em; white-space: nowrap; ">Jan 2019</td>
    <td>⚙️ </td>
    <td>We upgraded <a href="https://github.com/aspire-project/chisel">Chisel</a> with the latest version of Clang. Try it!</td>
  </tr>
</table>
-->
</ul> <h3> Research Interest </h3>
<ul>
  <img src="images/agenda.png" alt="Agenda" style="width:60%;" margin-left="width:10%" class="left-block"><br>
</ul>
My research aims to develop program reasoning systems for safe and reliable software. In particular, I am working on the following topics:
<ul>
  <li>AI-based <b>program analysis</b> systems for detecting deep semantic software bugs</li>
  <li>General-purpose <b>program simplification</b> systems for secure and efficient software</li>
  <li>Scalable <b>program synthesis</b> systems for automatic software generation and repair</li>
</ul>
For more information about my research, see <a href="projects.html">projects</a>, <a href="publications.html">publications</a>, <a href="talks.html">talks</a>, and the following Youtube videos (in Korean).
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Nm0LlEeCux4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2bDh0bWBEd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>Courses</h3>
<ul>
  <li><a href="https://github.com/prosyslab-classroom/cs348-information-security">CS348: Introduction to Information Security</a>,
    <a href="https://sites.google.com/view/cs448/home">2021S</a>,
    <a href="https://sites.google.com/view/kaistcs348/home">2022S</a>,
    2023S, 2025S
  </li>
  <li><a href="https://github.com/prosyslab-classroom/cs424-program-reasoning">CS424: Program Reasoning</a>,
    2022F, 2023F, 2024F, 2025F
  </li>
  <li><a href="https://github.com/prosyslab-classroom/cs524-program-analysis">CS524: Program Analysis</a>,
    2021F, 2022F, 2024S, 2025S
  </li>
  <li><a href="https://sites.google.com/view/cs448/home">IS511: Introduction to Information Security</a>,
    2021S
  </li>
  <li><a href="https://github.com/prosyslab-classroom/is593-language-based-security">IS593: Language-based Security</a>,
    2020S, 2023F
  </li>
  <li><a href="https://github.com/prosyslab-classroom/is661-advanced-software-security">IS661: Advanced Software Security</a>,
    <a href="https://github.com/prosyslab-classroom/IS893-2020-Fall">2020F</a>,
    2022S,
    2024S
  </li>
  <li><a href="https://cs.kaist.ac.kr/colloquium/">CS966: KAIST SoC Colloquium</a>,
    2023S [<a href="https://photos.app.goo.gl/4FJ1vRdq6p9E3QWH8">photo</a>]
  </li>
</ul>

<h3>Students</h3>
<h5>Ph.D Students</h5>
<ul>
  {% for student in site.data.students %}
    {% if student.level == "phd" %}
      <li><a href="{{student.site}}">{{student.name}}</a></li>
    {% endif %}
  {% endfor %}
</ul>
<h5>Master Students</h5>
<ul>
  {% for student in site.data.students %}
    {% if student.level == "master" %}
      <li><a href="{{student.site}}">{{student.name}}</a></li>
    {% endif %}
  {% endfor %}
</ul>
See <a href="https://prosys.kaist.ac.kr/members/">more</a>.

{% assign year = 'now' | date: "%Y" %}
{% assign next_year = year | plus: 2 %}
<h3>Professional Activities</h3>
<h5>Program Committee Members</h5>
<ul>
  {% for year in (2019..next_year) reversed %}
  {% assign filtered = site.data.service | where_exp: "item", "item.year == year" | where_exp: "item", "item.title == 'PC member'"%}
  {% if filtered != empty %}
    <li>{{ year }}:
      {% for item in filtered %}
        <a href="{{ item.link }}">{{ item.venue }}</a>{% if item.chair != nil %} ({{ item.chair }}){% endif %}{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
    </li>
  {% endif %}
  {% endfor %}
</ul>
<h5>Others</h5>
<ul>
  {% for year in (2019..next_year) reversed %}
  {% assign filtered = site.data.service | where_exp: "item", "item.year == year" | where_exp: "item", "item.title == 'Others'" %}
  {% if filtered != empty %}
    <li>{{ year }}:
      {% for item in filtered %}
        <a href="{{ item.link }}">{{ item.venue }}</a>{% if item.chair != nil %} ({{ item.chair }}){% endif %}{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
    </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Awards</h3>
<ul>
  <li><a href="https://conf.researchr.org/details/fse-2025/fse-2025-research-papers/33/UnitCon-Synthesizing-Targeted-Unit-Tests-for-Java-Runtime-Exceptions">ACM SIGSOFT Distinguished Paper Award</a>, FSE 2025</li>
  <li><a href="https://www.amazon.science/research-awards/program-updates/99-amazon-research-awards-recipients-announced">Amazon Research Award</a>, 2024</li>
  <li>The Soo-Young Lee Teaching innovation Award, KAIST, 2024</li>
  <li>Prize for Excellence in Teaching, KAIST, 2024</li>
  <li><a href="https://conf.researchr.org/track/icse-2022/icse-2022-awards?#icse-2022-best-artifact-awards">Best Artifact Award</a>, ICSE 2022</li>
  <li><a href="https://conf.researchr.org/home/pldi-2019">ACM SIGPLAN Distinguished Paper Award</a>, PLDI 2019</li>
  <li><a href="https://2019.icse-conferences.org/details/icse-2019-Technical-Papers/57/Resource-aware-Program-Analysis-via-Online-Abstraction-Coarsening">ACM SIGSOFT Distinguished Paper Award</a>, ICSE 2019</li>
  <li><a href="https://cse.snu.ac.kr/en/node/28378">Outstanding Dissertation Award</a>, Department of Computer Science and Engineering, Seoul National University, 2017</li>
</ul>


<h3 id="contact">Contact</h3>
kihong.heo (at) kaist.ac.kr<br>
+82-42-350-3581<br>
Room 2321, N5<br>
School of Computing<br>
KAIST<br>
291 Daehak-ro, Yuseong-gu, Daejeon 34141, Korea<br>
