---
layout: default
title: Talks
logo_style: 'width: 280px; height: 70px;'
---

<h3 id="talks">Talks</h3>
<ul>
  {% for talk in site.data.talks %}
  <li>{{ talk.title }}, {{ talk.venue }}, {{ talk.date }}.
    {% if talk.slides != nil %}
    [<a href="{{ talk.slides }}">slides</a>]
    {% endif %}
    {% if talk.poster != nil %}
    [<a href="{{ talk.poster }}">poster</a>]
    {% endif %}
    {% if talk.video != nil %}
    [<a href="{{ talk.video }}">video</a>]
    {% endif %}
    {% if talk.korean != nil %}
    &#x1F1F0;&#x1F1F7;
    {% endif %}
  </li>
  <br>
  {% endfor %}
</ul>
