---
layout: default
title: Kihong Heo &middot; Talks
logo_style: 'width: 280px; height: 70px;'
---

<h3 id="talks">Talks</h3>
<ul>
  {% for talk in site.data.talks %}
  <li>{{ talk.title }}, {{ talk.venue }}, {{ talk.date }}.
    {% if talk.slides != nil %}
      {% if talk.series %}
        [
        {% assign i = 1 %}
        {% for slides in talk.slides %}
          <a href="slides/{{ slides }}">{{i}}</a>
          {% assign i = i | plus:1 %}
        {% endfor %}
        ]
      {% else %}
        [<a href="slides/{{ talk.slides }}">slides</a>]
      {% endif %}
    {% endif %}
    {% if talk.poster != nil %}
    [<a href="{{ talk.poster }}">poster</a>]
    {% endif %}
    {% if talk.video != nil %}
    [<a href="{{ talk.video }}">video</a>]
    {% endif %}
    {% if talk.korean != nil %}
    &#x1F1F0;&#x1F1F7;
    {% endif %}
  </li>
  <br>
  {% endfor %}
</ul>
